
#top-banner {
	top: 0;
  	left: 0;
	background-color: black;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#banner {
	color: white;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#login {
  margin-left: 500px;
  height: 100px;
  width: 40%;
  position: relative;
  left: 1000px
  top: 750px;
}


#create_div {
  margin-left: 500px;
  height: 100px;
  width: 28%;
  position: relative;
  left: 1000px
  top: 750px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: #C0B283;
    text-decoration: none;
}
