#top-banner {
	top: 0;
  left: 0;
	background-color: black;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 1px;
}

#user-image {
    position: absolute;
    top: 150px;
    left: 50px;
}

#user-info {
    position: absolute;
    top: 150px;
    left: 500px;
}

#user-profile {
    position: absolute;
    top: 300px; 
    left: 50px;  
}

#new-order {
    position: absolute;
    top: 325px; 
    left: 500px;
    width: 300px;
    border-size:2px;
    border-style:solid;
    border-color:black;  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block; 
    text-align:center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: #C0B283;
    text-decoration: none;
}