
#top-banner {
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 1px;
}

#map {
  height: 600px;
  width: 70%;
  float: left;
}

#right {
	height: 600px;
  width: 28%;
  float: right;
  padding-right: 10px;
  	/*margin: 0px 90px 80px 20px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block; 
    text-align:center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: #C0B283;
    text-decoration: none;
}

#logout-div {
    position: absolute;
    right: 50px;
    top  : 45px;
}

